---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Sidebar from '../../components/Sidebar.astro';
import DocsFooter from '../../components/DocsFooter.astro';
import { Image } from 'astro:assets';
import "../../styles/docs.css"

const suffixes : string[] = ["text", "background", "primary", "secondary", "accent"]
const prefixes : string[] = ["fg", "bg"]
const steps  : number[] = Array.from({ length: 19 }, (_, i) => (i + 1) * 5);

---

<Layout title="Chromafy Docs">
  <div id="dialog">Copied!</div>
  <Navbar currentPage="Docs" />
  <div class="docs-body list-body">
    <Sidebar currentSectionIndex = {2} updateDate="5th May 2024"/>
    <main>
        <section>
            <h2>List of all possible Class Names and CSS variables</h2>
            <h3>Class Names</h3>
            <div class="classes">
                {suffixes.map((suffix)=>
                    <>
                        {prefixes.map((prefix) => <ul>
                            <li></li>
                            {steps.map((step) => (
                                <li>{`${prefix}-chroma-${suffix}-${step}`}</li>
                            ))}
                        </ul>)}
                    </>
                )}
            </div>
            <h3>CSS Variables</h3>
            <div class="variables">
                {suffixes.map((suffix)=>
                    <>
                        <ul>
                            <li></li>
                            {steps.map((step) => (
                                <li>{`--chroma-${suffix}-${step}`}</li>
                            ))}
                        </ul>
                    </>
                )}
            </div>
        </section>
    <DocsFooter currentSectionIndex={2}/>
    </main>
    </div>
</Layout>


<script>
    function copyText(textContent : string){
    console.log(textContent)
    navigator.clipboard
      .writeText(textContent)
      .then(() => {
        const dialog = document.getElementById('dialog');
        if (dialog) {
         dialog.style.display = 'block';

         setTimeout(() => {
            dialog.style.display = 'none';
        }, 2000);
        }
      })
      .catch((err) => {
        console.error("Failed to copy code: ", err);
      });
}


const listElements = document.querySelectorAll(".list-body .classes ul li, .list-body .variables ul li");

listElements?.forEach(listElement => {
  listElement.addEventListener("click", () => listElement?.textContent && copyText(listElement.textContent));
});

</script>